name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: Kouber/buildozer-action@v2
        with:
          command: android debug
          buildozer_version: stable
          
